PySide2
QtPy
black
coverage
darglint
flake8
flake8-annotations
flake8-bandit
flake8-black
flake8-bugbear
flake8-docstrings
flake8-import-order
jsonschema
mypy
pytest
pytest-cov
pytest-qt
pytest-picked
pytest-xvfb
safety
sphinx
sphinx-autodoc-typehints
